@import "tailwindcss";

@layer base {
  body {
    background-color: #050505;
    color: white;
    /* Ensure the system DIN Condensed is used */
    font-family: "DIN Condensed", "Arial Narrow", sans-serif;
  }
}

@layer utilities {
  .font-din {
    font-family: "DIN Condensed", "Arial Narrow", sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }
}